@import "tailwindcss";

:root{
  --dot-color: rgba(203, 213, 225, 0.55);
  --glow-color: rgba(125, 211, 252, 1); /* sky-300 */

  --bg-from: #1f2937;
  --bg-via:  #051542;
  --bg-to:   #111827;
}

.bg-gradient-custom {
  background: linear-gradient(
    90deg,
    var(--bg-from, #1f2937),
    var(--bg-via,  #051542),
    var(--bg-to,   #111827)
  );
  box-shadow: 0 20px 60px rgba(0,0,0,0.45);
}